.classes {
    background-image: url(./images/jobsearchbackground.jpg);
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    padding-bottom: 350px;
    font-family: 'Lato', sans-serif !important;
}

.lead {
    color: #e6e4d3 !important;
}
