table {
    align-content: flex-start;
}

.spotify {
    color: #00ce6b;
}

.spotify-button {
    background-color: #00ce6b !important;
}

.bandsintown {
    color: #00b9b7;
}

.bands {
    width: 100%;
    height: 250px;
    overflow: scroll;
}
